<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p - %d (%t)- %C{1}.%M(%L) | %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
        	<param name="levelMin" value="TRACE"/>
        	<param name="levelMax" value="FATAL"/>
     	</filter>
	</appender>

	<logger name="com.github.vincent_fuchs.custom_build_rules">
		<level value="TRACE" />
	</logger>

	<root>
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
